<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU7viquTxYa61g5xgeDLm9SeUIRYUgVZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>456330798296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakultedu.WV43Application</string>
	<key>PROJECT_ID</key>
	<string>teacher-app-eebc9</string>
	<key>STORAGE_BUCKET</key>
	<string>teacher-app-eebc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456330798296:ios:1b48d928f7bd3f90cbe3ad</string>
</dict>
</plist>